<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BTC COIN | </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    
    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">


            <!-- header and slide menu-->

              <% include ../partials/header %>


            <!--header and slide menu-->

        <!-- page content -->
        <div class="right_col" role="main">
         <div id="content" class="content">
            <h1 class="page-header">
                Tools
            </h1>

            <br>
<!--copy tu hextra toan quang cao tu xu sau dc -->      
        <div class="row">
            <div class="col-md-12">
                <img src="/img/banners/Hextra-Coin.gif" class="img-responsive"><br><br>
                <textarea style="width:100%"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/Hextra-Coin.gif"></a></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <img src="/img/banners/HextraCoin-2-_728x90.gif" class="img-responsive"><br><br>
                <textarea style="width:100%"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/HextraCoin-2-_728x90.gif"></a></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <img src="/img/banners/Hextra-Coin_728x90.gif" class="img-responsive"><br><br>
                <textarea style="width:100%"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/Hextra-Coin_728x90.gif"></a></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="/img/banners/Hextra-Coin_300x600.gif" class="img-responsive"><br><br>
                <textarea style="width:100%" rows="3"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/Hextra-Coin_300x600.gif"></a></textarea>

                <img src="/img/banners/Hextra-Coin_300x250.gif" class="img-responsive"><br><br>
                <textarea style="width:100%" rows="3"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/Hextra-Coin_300x250.gif"></a></textarea>
            </div>

            <div class="col-md-3">
                <img src="/img/banners/HextraCoin-2-_300x600.gif" class="img-responsive"><br><br>
                <textarea style="width:100%" rows="3"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/HextraCoin-2-_300x600.gif"></a></textarea>

                <img src="/img/banners/HextraCoin-2-_300x250.gif" class="img-responsive"><br><br>
                <textarea style="width:100%" rows="3"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/HextraCoin-2-_300x250.gif"></a></textarea>
            </div>

            <div class="col-md-3">
                <img src="/img/banners/Hextra-Coin_160x600.gif" class="img-responsive"><br><br>
                <textarea style="width:100%" rows="3"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/Hextra-Coin_160x600.gif"></a></textarea>
            </div>

            <div class="col-md-3">
                <img src="/img/banners/HextraCoin-2-_160x600.gif" class="img-responsive"><br><br>
                <textarea style="width:100%" rows="3"><a href="https://hextracoin.co/register?referrer=an911"><img src="https://hextracoin.co/img/banners/HextraCoin-2-_160x600.gif"></a></textarea>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
</div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- morris.js -->
    <script src="/vendors/raphael/raphael.min.js"></script>
    <script src="/vendors/morris.js/morris.min.js"></script>
    <!-- gauge.js -->
    <script src="/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Skycons -->
    <script src="/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/vendors/Flot/jquery.flot.js"></script>
    <script src="/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/vendors/moment/min/moment.min.js"></script>
    <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>

  </body>
</html>
