<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
      <div class="main_container row">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <span>Admin</span>
            </div>

            <div class="clearfix"></div>

            <br >

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li style="color:red;"> Glance</li>        
                    <ul class="nav child_menu">
                      <li>At a Glance</li>
                      <li>Search</li>
                    </ul>
                
                  <li style="color:red;">Wallet</li>
                    <ul class="nav child_menu">
                      <li>BTC-Wallet Request</li>
                      <li>BTC Wallet</li>
                      <li>BTC Wallet Report</li>
                      <li>BTC Wallet Available</li>
                    </ul>
                  
                  <li style="color:red;">Profiles</li>
                    <ul class="nav child_menu">
                      <li>Show Profile</li>
                      <li>Edit Profile</li>
                      <li>Edit User Account</li>
                      <li>Edit Dlr.Sponsor</li>
                      <li>Know Login Password</li>
                      <li>Change Login Password</li>
                      <li>Know Transaction Password</li>
                      <li>Change Login Password</li>
                    </ul>
                  
                  <li style="color:red;">MIS Reports</li>
                    <ul class="nav child_menu">
                      <li>Registration Report</li>
                      <li>Sales Report</li>
                    </ul>
                  
                  <li style="color:red;">Admin User Tools</li>
                    <ul class="nav child_menu">
                      <li>My Password Change</li>
                      <li>Admin Token</li>
                      <li>User Registration</li>
                      <li>Delete User</li>
                      <li>Commission Percentage</li>
                    </ul>
                  
                    <li style="color:red;">Support Center</li>
                    <ul class="nav child_menu">
                      <li>Search Ticket</li>
                      <li>Ticket</li>
                    </ul>
                  
                  <li style="color:red;">Contents Manager</li>
                    <ul class="nav child_menu">
                      <li>News</li>
                    </ul>
                 
                 <li style="color:red;">Payout Menu</li>
                    <ul class="nav child_menu">
                      <li>All Income Report</li>
                    </ul>
					
                
             
        
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    ADMIN
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                      <!--khuc nay la doan mau 1 cai hop thu giua cac admin-->
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                                <!--khuc nay la doan mau 1 cai hop thu giua cac admin-->
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        
    
             
              <!--page content of sales report-->
                   <div class="right_col" role="main">
          <div class="">
                 <li><a href="index.html"></a></li>          
              <div class="x_panel">
                  <div class="x_title">
                    <h2 style="color:green">Sales Report </h2>
                      <form id="BTC-wallet" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">From Date <span class="required"></span>
                        </label><span class="fa fa-sort-desc">days</span><span class="fa fa-sort-desc">month</span><span class="fa fa-sort-desc">year</span>
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">To Date <span class="required"></span>
                        </label><span class="fa fa-sort-desc">days</span><span class="fa fa-sort-desc">month</span><span class="fa fa-sort-desc">year</span>
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Package <span class="required"></span>
                        </label><span class="fa fa-sort-desc">package type</span>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                          </div>
                          </form>
                  </div>
            </div>
        </div>
          </div>
        </div>
    </div>
    </body>
</html>
