<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
      <div class="main_container row">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <span>Admin</span>
            </div>

            <div class="clearfix"></div>

            <br >

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li style="color:red;"> Glance</li>        
                    <ul class="nav child_menu">
                        <li><a href="admin_at_a_glance">At a Glance</a></li>
                        <li><a href="admin_search_profile">Search</a></li>
                    </ul>
                
                  <li style="color:red;">Wallet</li>
                    <ul class="nav child_menu">
                      <li>BTC-Wallet Request</li>
                      <li>BTC Wallet</li>
                        <li><a href="admin_BTC-wallet_send_report">BTC Wallet Report</a></li>
                      <li>BTC Wallet Available</li>
                    </ul>
                  
                  <li style="color:red;">Profiles</li>
                    <ul class="nav child_menu">
                        <li><a href="admin_search_profile">Show Profile</a></li>
                        <li><a href="admin_ID_change">Edit Profile</a></li>
                      <li>Edit User Account</li>
                        <li><a href="admin_edit_dlr_sponsor">Edit Dlr.Sponsor</a></li>
                        <li><a href="admin_know_login_password">Know Login Password</a></li>
                        <li><a href="admin_change_login_password_member">Change Login Password</a></li>
                        <li><a href="admin_know_transaction_password">Know Transaction Password</a></li>
                        <li><a href="admin_change_transaction_password_member">Change Transaction Password</a></li>
                      
                    </ul>
                  
                  <li style="color:red;">MIS Reports</li>
                    <ul class="nav child_menu">
                      <li>Registration Report</li>
                        <li><a href="admin_sale_report">Sales Report</a></li>
                    </ul>
                  
                  <li style="color:red;">Admin User Tools</li>
                    <ul class="nav child_menu">
                        <li><a href="admin_my_password_change">My Password Change</a></li>
                        <li><a href="admin%20tools-token_admin">Admin Token</a></li>
                        <li><a href="admin%20tools-user_registration"> User Registration</a></li>
                        <li><a href="admin%20tools-delete_user">Delete User</a></li>
                        <li><a href="admin%20tools_percentage_of_commission">Commission Percentage</a></li>
                    </ul>
                  
                    <li style="color:red;">Support Center</li>
                    <ul class="nav child_menu">
                        <li><a href="admin_support_ticket_response">Search Ticket</a></li>
                      <li>Ticket</li>
                    </ul>
                  
                  <li style="color:red;">Contents Manager</li>
                    <ul class="nav child_menu">
                        <li><a href="admin_content_manager-new">News</a></li>
                    </ul>
                 
                 <li style="color:red;">Payout Menu</li>
                    <ul class="nav child_menu">
                        <li><a href="admin_all_income_report">All Income Report</a></li>
                    </ul>
					
                
             
        
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    ADMIN
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                      <!--khuc nay la doan mau 1 cai hop thu giua cac admin-->
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                                <!--khuc nay la doan mau 1 cai hop thu giua cac admin-->
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        